<%=javascript_include_tag "prototype" %>
<%=javascript_include_tag "application" %>
<%=javascript_include_tag "ajax" %>
<%=javascript_include_tag "dialog" %>
<%=javascript_include_tag "fr" %>
<% if @action_source == "search" %>
  <div id='search_result'><br />
<% end %>

  <%= screen_name_list_tag @screen if @action_source != "relations" %>
  <% operations = []
  ajax_params = {
    :controller => @screen.class.to_s.pluralize.underscore.gsub("screen","row"),
    :action_source => @action_source,
    :filtered_reference => @filtered_reference,
    :screen_id => @screen.id
  }
  operations << :new if @screen.allow_action?("new")
  operations << :delete if @screen.allow_action?("destroy")
  operations << :export if (@action_source.gsub("page_","") != "relations") && (@screen.allow_action?("export"))
  operations << :print
  action = "page_" + @action_source.gsub("page_","")
  html_page_tags = page_tag(@screen.id,@pageno.to_i,@maxpage.to_i,action)
  html_operation_tags = operation_tag( operations,{:id =>params[:id], :ajax_params => ajax_params, :pagination => html_page_tags } )
%>
  
<%= render(:partial => '/rows/list',
      :locals => {:screen => @screen, :rows => @rows, :html_operation_tags => html_operation_tags}) %>
    
  <% if @action_source != "relations" %>
    <div id ='error_area'></div>
    <div id ='operation_area_<%= @screen.id %>'>
      <% if @quick_operation == 'new' %>
        <%
          operation_url_options = {
            :action => :new,
            :id => @screen.id,
            :action_source => @action_source,
            :screen_id => @screen.id
          }
          operation_url = url_for(operation_url_options)
        %>
        <div name="on_load_operation_content" status="unloaded" ajax_result_id="operation_area_<%= @screen.id %>" ajax_url="<%=operation_url %>"></div>

      <% end %>
    </div>
    <!-- ToDo: Allow user to select if they want to auto/manual load relation -->
    <div id ='relation_area' style="display: none"></div>
  <% end %>

<% if @action_source == "search" %>
  </div>
    <%=javascript_include_tag "application" %>
    <%=javascript_include_tag "dialog" %>
    <%=javascript_include_tag "fr" %>
    <script type="text/javascript">
      fncCopyResultToMainFrame("search_result", "main");

      fncLoadTempFrame();
    </script>
<%end%>