<%
show_password_inputs = @user.new_record?
display_style = "display: none" unless show_password_inputs
passed_options = {}
passed_options[:disabled] = true unless show_password_inputs
password_text = @from_user_info ? :new_password : :password
%>
<tr id="tr_password" style="<%=display_style %>">
  <th class="th_row_header"><%= field_label_tag password_text, :mandatory => true %>:</th>
  <td>
    <%= password_field_tag "user[password]" , "", passed_options %>
    <%
    min_length = User.default_password_length.begin
    max_length = User.default_password_length.end
    %>
    <%= field_descr_tag :descr => "#{min_length} - #{max_length} characters" %>
  </td>
</tr>
<tr id="tr_password_confirmation" style="<%=display_style %>">
  <th class="th_row_header"><%= field_label_tag :confirm_password, :mandatory => true %>:</th>
  <td>
    <%= password_field_tag "user[password_confirmation]" , "", passed_options %>
    <%= field_descr_tag %>
  </td>
</tr>
<tr id="tr_show_password" style="<%=display_style %>">
  <th class="th_row_header">&nbsp;</th>
  <td>
    <%
    onclick = <<JAVASCRIPT
$("user_password").type = $("user_password_confirmation").type = this.checked ? "text" : "password";
JAVASCRIPT
    %>
    <%= check_box_tag("show_password", true, false, :onclick => onclick) %><%= label_tag "show_password" %>

    <%= field_descr_tag %>
  </td>
</tr>
<%
reset_display_style = "display: none" if show_password_inputs
%>
<tr id="tr_reset_password" style="<%=reset_display_style %>">
  <th class="th_row_header">&nbsp;</th>
  <td>
    <%
    reset_text = @from_user_info ? "Change" : "Reset"
    onclick = <<JAVASCRIPT
$("user_password").disabled = $("user_password_confirmation").disabled = false;
$("tr_password").style.display = $("tr_password_confirmation").style.display =
  $("tr_show_password").style.display = "";
$("tr_reset_password").style.display = "none";
return false;
JAVASCRIPT
    %>
    <%= link_to "#{reset_text} password", nil, {:href => "#", :onclick => onclick} %>
    <%= field_descr_tag %>
  </td>
</tr>

<%=table_hr_tag %>