<tr>
  <th class="th_row_header">Format:</th>
  <td>
    <% format_date_options_collection = CustomFields::DateTimeFormat.date_options_collection %>
    <%= select_tag "custom_field[value][format_date]",
                    options_from_collection_for_select(format_date_options_collection, :name, :descr, @custom_field.format_date) %>
    <%= field_descr_tag %>
  </td>
</tr>
<tr>
  <th class="th_row_header">Default Value:</th>
  <td>
    <%
    select_current_date = (@custom_field.default_value == "current_date") ? true : false
    %>
    <%= radio_button_tag("custom_field[value][default_value]", 'current_date', select_current_date) %>
    <%= label_tag("custom_field[value][default_value][current_date]", 'Current Date') %>
    <br />
    <%= radio_button_tag("custom_field[value][default_value]",'empty', !select_current_date) %>
    <%= label_tag("custom_field[value][default_value][empty]", 'Empty') %>
    <%= field_descr_tag %>
  </td>
</tr>