<h1>Firmware Upgrade</h1>

<%
version_config = Rails.configuration.version
version_no = [:major, :minor, :rev].collect{|k| version_config[k] }.join('.')
version_info = [:author, :date].collect{|k| version_config[k] }.join(' | ')
%>

<div class="memo">
  <p>
    To upgrade the system's firmware, browse to the location of the compressed (.zip) upgrade file and click Upload.
    Upgrade files can be requested from
    <span style="white-space: nowrap">
      <%=link_to 'Thai Software Engineering Co.,Ltd.', {}, {:href => "http://www.tse.in.th/##{Rails.configuration.svn_client_mod5_code}", :target => :_blank} %>
    </span>
  </p>
  <p>
    Current Firmware Version: V<%=version_no %> | <%=version_info %>
  </p>
</div>

<%
form_id = "frm_maintenance_update_firmware"
action = url_for( :action => "update_firmware", :id => session.active_screen.id, :authenticity_token => form_authenticity_token )
%>
<hr />
<% form_tag action, :onSubmit => "fncPrepareFormForSubmit(this);", :enctype=>'multipart/form-data', :method=>:put, :id=>form_id, :target=>"tmp_frame" do %>
<table>
  <tr>
    <td><input name="firmware_src" type="radio" id="firmware_src_file" value="file" checked /> <label for="firmware_src_file">Patch File</label></td>
    <td><%= file_field_tag :file, :accept => 'text/html', :size => 50 %></td>
  </tr>
  <tr>
    <td><input name="firmware_src" type="radio" id="firmware_src_release_tag" value="release_tag" disabled/> <label for="firmware_src_release_tag">Release Tag</label></td>
    <td><%= text_field_tag :release_tag, '', :size => 40 , :disabled => true %></td>
  </tr>
</table>

  <%=submit_tag 'Upload'%>

<% end %>

<%=flash_messages %>
