<h1>System Infomation</h1>
<table class="table_data_content" cellspacing='0'>
<%=render :partial => 'version_pms' %>
<%=render :partial => 'version_configuration' %>
<%=render :partial => 'version_database' %>
<%=render :partial => 'version_system' %>
<%=render :partial => 'version_os' %>
</table>

<h1>Component Versions</h1>
<table class="table_data_content" cellspacing='0'>
<%=render :partial => 'version_ruby' %>
<%=render :partial => 'version_gem' %>
</table>
